@import './base.css';

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

  body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  }

html {
  width: 100%;
  height: 100%;
}
