HELP.md
target/
.gitattributes
*.md
application-dev.*
application-local.*
application-test.*
application-prod.*
package-lock.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Config ###
src/main/resources/*.yml
src/main/resources/*.yaml
src/main/resources/*.properties
*/target/
